.card {
    border-radius: 5px;
    border: 2px solid #820AD1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title {
    color: #820AD1;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.subtitle {
    color: #8D8D8D;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.description {
    color: #000;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link {
    color: #820AD1;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}